// helpers
@import './helpers/normalize';
@import './mixins/mixin-all';
@import './helpers/base';
@import './helpers/utilities';
@import './helpers/animation';
@import './layout';

// page
@import './page/index';

// icon
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8aexe5');
  src:  url('../fonts/icomoon.eot?8aexe5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8aexe5') format('truetype'),
    url('../fonts/icomoon.woff?8aexe5') format('woff'),
    url('../fonts/icomoon.svg?8aexe5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
