// Variable
$primary: #AA0601;
$secondary: #650300;
$pure: #AA06010D;
$clear: #fff;

// Container
.container {
  max-width: 1200px;
  margin: 0 auto;

  @include pc() {
    width: 90% !important;
  }

  @include pad() {
    width: 87.5% !important;
  }

  @include mobile() {
    width: 93.87% !important;
  }
}

// Base
html {
  font-size: 10px;
  line-height: 10px;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  // outline: 1px solid red;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}
