@import '../mixins/breakpoints';

.form_control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 1.4rem 1.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.h-line {
  border: 1px solid $clear;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @include pc() {
    width: 90% !important;
  }

  @include pad() {
    width: 75% !important;
  }

  @include mobile() {
    width: 47.7% !important;
  }
}

.container-md {
  max-width: 792px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-md-s {
  @include pad() {
    margin-bottom: 4px !important;
  }
}

.mb-md-1 {
  @include pad() {
    margin-bottom: 8px !important;
  }
}

.mb-sm-1 {
  @include mobile() {
    margin-bottom: 8px !important;
  }
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-sm-2 {
  @include mobile() {
    margin-bottom: 16px !important;
  }
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-md-3 {
  @include pad() {
    margin-bottom: 24px;
  }
}

.mb-4 {
  margin-bottom: 32px;
}

.ml-md-0 {
  @include pad() {
    margin-left: 0 !important;
  }
}

.ml-1 {
  margin-left: 8px;
}

.ml-md-1 {
  @include pad() {
    margin-left: 4px !important;
  }
}

.ml-3 {
  margin-left: 24px;
}

.d-sm-none {
  @include mobile() {
    display: none;
  }
}